<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Héroes</title>
    <script src="/js/main.js" defer type="module"></script>
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="cards">
        <div class="card" th:each="heroe : ${heroList}">
            <object-heroe
                th:attr="nombre=${heroe.name},
                         descripcion=${heroe.description},
                         fecha=${heroe.yearOfCreation},
                         foto=${heroe.imageUrl},
                         universo=${heroe.category}">
            </object-heroe>
        </div>
    </div>

    <div id="myModal">
        
    </div>
</body>
</html>
