<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Héroes</title>
    <script src="/js/main.js" defer type="module"></script>
</head>
<body>
    <ul>
        <li th:each="heroe : ${heroList}">
            <object-heroe 
                th:attr="nombre=${heroe.name}, 
                         descripcion=${heroe.description}, 
                         fecha=${heroe.yearOfCreation}, 
                         foto=${heroe.imgUrl}, 
                         universo=${heroe.category}">
            </object-heroe>
        </li>
    </ul>

    <!-- Modal -->
    <div id="myModal" style="display: none;">
        <div>
            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
            <h2 id="modalTitle"></h2>
            <p id="modalDescription"></p>
            <p id="modalFecha"></p>
            <img class="imgModal" src="" alt="Hero Image">
        </div>
    </div>
</body>
</html>
